/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  /* color: var(--ifm-font-color-base); */
  color: #e3e3e3;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.policypersistence {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
  background-color: var(--ifm-color-emphasis-100);
}

.policyenforcement {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
}

.rolemanager {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
  background-color: var(--ifm-color-emphasis-100);
}

.embedbutton {
  display: inline-block;
  margin-right: 0.2em;
  margin-top: 0.2rem;
  stroke-width: 0;
  width: 22px;
  height: 22px;
}

.highlightedKeyword {
  color: #b388ff;
}

html[data-theme="light"] .highlightedKeyword {
  color: #4c00ff;
}
