/* stylelint-disable max-line-length */
/* stylelint-disable value-keyword-case */
/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Fonts */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code VF";
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
  src:
    url("/fonts/FiraCode-VF.woff2") format("woff2-variations"),
    url("/fonts/FiraCode-VF.woff") format("woff-variations");
}

/* You can override the default Infima variables here. */
:root {
  --ifm-spacing-horizontal: 1.5rem;
  --ifm-font-family-base:
    "Inter var",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ifm-font-family-monospace:
    "Fira Code VF",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  --ifm-code-font-size: 95%; /* code block font size */
  --site-primary-hue-saturation: 210 68%; /* announcementBar */

  /* https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */
  --ifm-color-primary: #4c00ff;
  --ifm-color-primary-dark: #4400e6;
  --ifm-color-primary-darker: #4100d9;
  --ifm-color-primary-darkest: #3500b3;
  --ifm-color-primary-light: #5e1aff;
  --ifm-color-primary-lighter: #6726ff;
  --ifm-color-primary-lightest: #5108ff;

  /* Docs sidebar Collapse&Expand button */
  --docs-color: #dadde1;
}

html[data-theme="dark"] {
  --ifm-color-primary: #b388ff;
  --ifm-color-primary-dark: #fefdff;
  --ifm-color-primary-darker: #d8c3ff;
  --ifm-color-primary-darkest: #ccafff;
  --ifm-color-primary-light: #ccafff;
  --ifm-color-primary-lighter: #d8c3ff;
  --ifm-color-primary-lightest: #fefdff;
  --docs-color: #2e2e2e;
}

html .hero--primary {
  --ifm-hero-background-color: #413b7d;
}

html[data-theme="dark"] .hero--primary {
  --ifm-hero-background-color: #2b3137;
}

/*
* Navbar GitHub icon
* background-image: https://www.iconfont.cn/collections/detail?spm=a313x.7781069.1998910419.d9df05512&cid=9402
*/
.header-github-link::before {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg t='1666532105027' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7763' width='32' height='32'%3E%3Cpath d='M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z' p-id='7764'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .header-github-link::before {
  background-image: url("data:image/svg+xml,%3Csvg t='1666532105027' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7763' width='32' height='32'%3E%3Cpath d='M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z' p-id='7764' fill='%23e6e6e6'%3E%3C/path%3E%3C/svg%3E");
}

.header-github-link {
  opacity: 0.6;
  float: left;
}

.header-github-link:hover {
  opacity: 1;
}

/*
* Navbar Discord icon
* background-image: https://discord.com/branding
*/
.header-community-discord::before {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -18 127.14 127.14'%3E%3Cg id='layer_2' data-name='layer 2'%3E%3Cg id='Discord_Logos' data-name='Discord Logos'%3E%3Cg id='Discord_Logo_-_Large_-_White' data-name='Discord Logo - Large - White'%3E%3Cpath d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[data-theme="dark"] .header-community-discord::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -18 127.14 127.14'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='图层_2' data-name='图层 2'%3E%3Cg id='Discord_Logos' data-name='Discord Logos'%3E%3Cg id='Discord_Logo_-_Large_-_White' data-name='Discord Logo - Large - White'%3E%3Cpath class='cls-1' d='M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header-community-discord {
  opacity: 0.6;
}

.header-community-discord:hover {
  opacity: 1;
}

/*
* Navbar QQ icon
* background-image: https://www.iconfont.cn/collections/detail?spm=a313x.7781069.1998910419.d9df05512&cid=9402
*/
.header-community-qq::before {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg t='1666531054297' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7262' width='32' height='32'%3E%3Cpath d='M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z' p-id='7263'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .header-community-qq::before {
  background-image: url("data:image/svg+xml,%3Csvg t='1666531054297' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7262' width='32' height='32'%3E%3Cpath d='M824.8 613.2c-16-51.4-34.4-94.6-62.7-165.3C766.5 262.2 689.3 112 511.5 112 331.7 112 256.2 265.2 261 447.9c-28.4 70.8-46.7 113.7-62.7 165.3-34 109.5-23 154.8-14.6 155.8 18 2.2 70.1-82.4 70.1-82.4 0 49 25.2 112.9 79.8 159-26.4 8.1-85.7 29.9-71.6 53.8 11.4 19.3 196.2 12.3 249.5 6.3 53.3 6 238.1 13 249.5-6.3 14.1-23.8-45.3-45.7-71.6-53.8 54.6-46.2 79.8-110.1 79.8-159 0 0 52.1 84.6 70.1 82.4 8.5-1.1 19.5-46.4-14.5-155.8z' p-id='7263' fill='%23e6e6e6'%3E%3C/path%3E%3C/svg%3E");
}

.header-community-qq {
  opacity: 0.6;
  float: left;
}

.header-community-qq:hover {
  opacity: 1;
}

/*
* Navbar Wechat icon
* background-image: https://www.iconfont.cn/collections/detail?spm=a313x.7781069.1998910419.d9df05512&cid=9402
*/
.header-community-wechat::before {
  content: "";
  width: 32px;
  height: 32px;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg t='1666531114408' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7512' width='32' height='32'%3E%3Cpath d='M690.1 377.4c5.9 0 11.8 0.2 17.6 0.5-24.4-128.7-158.3-227.1-319.9-227.1C209 150.8 64 271.4 64 420.2c0 81.1 43.6 154.2 111.9 203.6 5.5 3.9 9.1 10.3 9.1 17.6 0 2.4-0.5 4.6-1.1 6.9-5.5 20.3-14.2 52.8-14.6 54.3-0.7 2.6-1.7 5.2-1.7 7.9 0 5.9 4.8 10.8 10.8 10.8 2.3 0 4.2-0.9 6.2-2l70.9-40.9c5.3-3.1 11-5 17.2-5 3.2 0 6.4 0.5 9.5 1.4 33.1 9.5 68.8 14.8 105.7 14.8 6 0 11.9-0.1 17.8-0.4-7.1-21-10.9-43.1-10.9-66 0-135.8 132.2-245.8 295.3-245.8z m-194.3-86.5c23.8 0 43.2 19.3 43.2 43.1s-19.3 43.1-43.2 43.1c-23.8 0-43.2-19.3-43.2-43.1s19.4-43.1 43.2-43.1z m-215.9 86.2c-23.8 0-43.2-19.3-43.2-43.1s19.3-43.1 43.2-43.1 43.2 19.3 43.2 43.1-19.4 43.1-43.2 43.1z' p-id='7513'%3E%3C/path%3E%3Cpath d='M866.7 792.7c56.9-41.2 93.2-102 93.2-169.7 0-124-120.8-224.5-269.9-224.5-149 0-269.9 100.5-269.9 224.5S540.9 847.5 690 847.5c30.8 0 60.6-4.4 88.1-12.3 2.6-0.8 5.2-1.2 7.9-1.2 5.2 0 9.9 1.6 14.3 4.1l59.1 34c1.7 1 3.3 1.7 5.2 1.7 2.4 0 4.7-0.9 6.4-2.6 1.7-1.7 2.6-4 2.6-6.4 0-2.2-0.9-4.4-1.4-6.6-0.3-1.2-7.6-28.3-12.2-45.3-0.5-1.9-0.9-3.8-0.9-5.7 0.1-5.9 3.1-11.2 7.6-14.5zM600.2 587.2c-19.9 0-36-16.1-36-35.9 0-19.8 16.1-35.9 36-35.9s36 16.1 36 35.9c0 19.8-16.2 35.9-36 35.9z m179.9 0c-19.9 0-36-16.1-36-35.9 0-19.8 16.1-35.9 36-35.9s36 16.1 36 35.9c-0.1 19.8-16.2 35.9-36 35.9z' p-id='7514'%3E%3C/path%3E%3C/svg%3E");
}

html[data-theme="dark"] .header-community-wechat::before {
  background-image: url("data:image/svg+xml,%3Csvg t='1666531114408' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='7512' width='32' height='32'%3E%3Cpath d='M690.1 377.4c5.9 0 11.8 0.2 17.6 0.5-24.4-128.7-158.3-227.1-319.9-227.1C209 150.8 64 271.4 64 420.2c0 81.1 43.6 154.2 111.9 203.6 5.5 3.9 9.1 10.3 9.1 17.6 0 2.4-0.5 4.6-1.1 6.9-5.5 20.3-14.2 52.8-14.6 54.3-0.7 2.6-1.7 5.2-1.7 7.9 0 5.9 4.8 10.8 10.8 10.8 2.3 0 4.2-0.9 6.2-2l70.9-40.9c5.3-3.1 11-5 17.2-5 3.2 0 6.4 0.5 9.5 1.4 33.1 9.5 68.8 14.8 105.7 14.8 6 0 11.9-0.1 17.8-0.4-7.1-21-10.9-43.1-10.9-66 0-135.8 132.2-245.8 295.3-245.8z m-194.3-86.5c23.8 0 43.2 19.3 43.2 43.1s-19.3 43.1-43.2 43.1c-23.8 0-43.2-19.3-43.2-43.1s19.4-43.1 43.2-43.1z m-215.9 86.2c-23.8 0-43.2-19.3-43.2-43.1s19.3-43.1 43.2-43.1 43.2 19.3 43.2 43.1-19.4 43.1-43.2 43.1z' p-id='7513' fill='%23e6e6e6'%3E%3C/path%3E%3Cpath d='M866.7 792.7c56.9-41.2 93.2-102 93.2-169.7 0-124-120.8-224.5-269.9-224.5-149 0-269.9 100.5-269.9 224.5S540.9 847.5 690 847.5c30.8 0 60.6-4.4 88.1-12.3 2.6-0.8 5.2-1.2 7.9-1.2 5.2 0 9.9 1.6 14.3 4.1l59.1 34c1.7 1 3.3 1.7 5.2 1.7 2.4 0 4.7-0.9 6.4-2.6 1.7-1.7 2.6-4 2.6-6.4 0-2.2-0.9-4.4-1.4-6.6-0.3-1.2-7.6-28.3-12.2-45.3-0.5-1.9-0.9-3.8-0.9-5.7 0.1-5.9 3.1-11.2 7.6-14.5zM600.2 587.2c-19.9 0-36-16.1-36-35.9 0-19.8 16.1-35.9 36-35.9s36 16.1 36 35.9c0 19.8-16.2 35.9-36 35.9z m179.9 0c-19.9 0-36-16.1-36-35.9 0-19.8 16.1-35.9 36-35.9s36 16.1 36 35.9c-0.1 19.8-16.2 35.9-36 35.9z' p-id='7514' fill='%23e6e6e6'%3E%3C/path%3E%3C/svg%3E");
}

.header-community-wechat {
  opacity: 0.6;
}

.header-community-wechat:hover {
  opacity: 1;
}

.showcaseLogos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.showcaseLogo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}

div[class^="announcementBar_"] {
  background: rgb(113 102 222 / 33%);
  color: var(--docsearch-text-color);
  font-weight: bold;
}

.casdoor-link {
  background-color: rgb(89 81 173);
  justify-content: center;
  border-radius: 4px !important;
  margin-right: 12px;
  transition-property: all;
}

.casdoor-link svg {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.casdoor-signup {
  color: #fff;

  --ifm-link-hover-color: #fff;
  --ifm-navbar-link-hover-color: #fff;
}

.casdoor-signup:hover {
  background-color: rgb(108 99 211);
}

.casdoor-login {
  --ifm-navbar-link-hover-color: rgb(108 99 211);

  background-color: transparent;
}

.navbar-sidebar .casdoor-link {
  padding: 0.75rem;
  margin-top: 1rem;
}

/* navbar items */
.navbar__item {
  font-size: 14px;
}

/* doc sidebar */
.menu__link {
  font-size: 14px;
  border-radius: 4px 0 0 4px;

  --ifm-menu-color-background-active: rgb(113 102 222 / 33%);
}

.menu__list-item-collapsible:hover {
  background: none;
}

ul.menu__list > li > a.menu__link--active {
  border-right: 1px solid var(--ifm-color-primary);
}

/* Custom design for sidebar hide and expand buttons */
aside.theme-doc-sidebar-container {
  position: relative;
  clip-path: inset(0 -140px);
}

.theme-doc-sidebar-container button[title="Collapse sidebar"],
.theme-doc-sidebar-container div[title="Expand sidebar"] {
  position: absolute;
  top: 96px;
  right: -14px;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 4px;
  z-index: 10;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--docs-color);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.707 4.293a1 1 0 0 1 0 1.414L9.414 12l6.293 6.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0Z' fill='%23181818'/%3E%3C/svg%3E");
}

.theme-doc-sidebar-container div[title="Expand sidebar"] {
  margin-left: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0Z' fill='%23181818'/%3E%3C/svg%3E");
}

html[data-theme="dark"] .theme-doc-sidebar-container button[title="Collapse sidebar"] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.707 4.293a1 1 0 0 1 0 1.414L9.414 12l6.293 6.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0Z' fill='%23ffffff'/%3E%3C/svg%3E");
}

html[data-theme="dark"] .theme-doc-sidebar-container div[title="Expand sidebar"] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.293 4.293a1 1 0 0 0 0 1.414L14.586 12l-6.293 6.293a1 1 0 1 0 1.414 1.414l7-7a1 1 0 0 0 0-1.414l-7-7a1 1 0 0 0-1.414 0Z' fill='%23ffffff'/%3E%3C/svg%3E");
}

.theme-doc-sidebar-container :is(div[title="Expand sidebar"], button[title="Collapse sidebar"]) svg {
  display: none;
}

/* Mobile breakpoint */
@media only screen and (max-width: 996px) {
  :root {
    --ifm-spacing-horizontal: 1rem;
  }
}


/* ecosystem page*/
:root {
  /*
  See css var + hsl color palette technique:
  https://blog.maximeheckel.com/posts/the-power-of-composition-with-css-variables/
   */
  --site-color-favorite-background: #f6fdfd;
  --site-color-svg-icon-favorite: #e9669e;
  --site-primary-hue-saturation: 167 68%;
  --site-primary-hue-saturation-light: 167 56%; /* do we really need this extra one? */
  --site-color-tooltip: #fff;
  --site-color-tooltip-background: #353738;
  --site-color-checkbox-checked-bg: hsl(167deg 56% 73% / 25%);
  --site-color-feedback-background: #f0f8ff;
  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 10%);
  /* Use a darker color to ensure contrast, ideally we don't need important */
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-darker) !important;
  --ifm-menu-color-active: var(--ifm-color-primary-darker) !important;
}


[data-theme='light'] {
  --ifm-color-primary: hsl(var(--site-primary-hue-saturation) 30%);
  --ifm-color-primary-dark: hsl(var(--site-primary-hue-saturation) 26%);
  --ifm-color-primary-darker: hsl(var(--site-primary-hue-saturation) 23%);
  --ifm-color-primary-darkest: hsl(var(--site-primary-hue-saturation) 17%);

  --ifm-color-primary-light: hsl(var(--site-primary-hue-saturation-light) 39%);
  --ifm-color-primary-lighter: hsl(
          var(--site-primary-hue-saturation-light) 47%
  );
  --ifm-color-primary-lightest: hsl(
          var(--site-primary-hue-saturation-light) 58%
  );
}
